.target {
    background: aliceblue;
    color: cadetblue;
}
.xxx {
    background: blanchedalmond;
    color: blueviolet;
}
.xx {
    background: lemonchiffon;
    color: silver;
}
.x {
    background: aquamarine;
    color:black ;
}

