@media screen and (min-width: 0) and (max-width: 768px){

    .box1 {
        height: 15% ;
    }
    .box2 {
        height: 60%;
        width: 97%;
    }
    .box3 {
        height: 15%;
        width: 97%;
    }

}